{% extends 'home/header.html' %}
{% block title %}Projects{% endblock %}
{% block projects_active %}active{% endblock %}
{% load static %}
{% block content %}

<div class = "main_content">
     <h3 style= "text-align: center; text-decoration: underline; padding-bottom: 10px;"> Projects </h3>
            <div class="row">
                <div class="col-sm-2">
                <img src="{% static 'home/images/accenture.png' %} " class="image img-responsive" />
                </div>
                <div class="col-sm-10">
                <p style="text-align: justify;">
                <b style= " text-decoration: underline;">Software Engineer: Accenture, India. &nbsp;Client: Bank of America.
                &nbsp; (Jul 2014 – Aug 2016)</b> <br>
                <b style= " text-decoration: underline;" >Project (Agile Methodology):</b> TITANIUM (The Risk Titanium (Ti) is a data distribution application built
                on Quartz technology which supports Dodd-Frank act required for Commodities Futures Trading Commission
                (CFTC) and European market infrastructure regulation(EMIR) for OTC trades economics reconciliation.
                In support of regulatory compliance Titanium generates daily reports of in scope trades for transmission
                to various Reconciliation systems.) <br>
                <b>Technologies Used: &nbsp; </b> Python, Quartz, JIRA, NoSQL.
                </p>
                </div>
                <div class="col-sm-2">
                <img src="{% static 'home/images/uc.png' %}" class="image img-responsive">
                </div>
                <div class="col-sm-10">
                <p style="text-align: justify;">
                <b style= " text-decoration: underline;">Online Self Portfolio
                    &nbsp; &nbsp;&nbsp;&nbsp;(Sep 2017 – Sep 2017)</b> <br>
                 <ul style="text-align: justify;">
                    <li >Developed a web application for online self portfolio.</li>
                    <li >Provided option for employers/students to submit details for connecting to the site owner. An
                         acknowledgement email will be sent to the client, who submitted the form.</li>
                    <li >Implemented admin interface to check all the messages submitted through Connect form. </li>
                    <li ><b>Technologies used:</b> Django, SQLite3, Bootstrap, HTML, CSS</li>
                </ul>

                </p>
                </div>
                <div class="col-sm-2">
                <img src="{% static 'home/images/uc.png' %}" class="image img-responsive">
                </div>
                <div class="col-sm-10">
                <p style="text-align: justify;">
                <b style= " text-decoration: underline;">Sangeeth'17: Application that lets user upload, store, and play
                    all of your music &nbsp; (Apr 2017 – Jun 2017)</b> <br>
                 <ul style="text-align: justify;">
                    <li >Developed a web application, to upload, store, manage and play music.</li>
                    <li >User can create an album and add songs to the album. Once songs are created user can play,
                        delete, and favorite them.</li>
                    <li ><b>Technologies used:</b> Django, SQLite3, Bootstrap.</li>
                </ul>

                </p>
                </div>
                <div class="col-sm-2">
                <img src="{% static 'home/images/uc.png' %} " class="image img-responsive">
                </div>
                <div class="col-sm-10">
                <p style="text-align: justify;">
                <b style= " text-decoration: underline;">Designing a Relational Database &nbsp;&nbsp; (Sep 2016 - Oct
                    2016)</b> <br>
                 <ul style="text-align: justify;">
                    <li>Translated database requirements for warehouse management into an ER schema
                        (captured entities and relationships) in Dia.</li>
                    <li>Derived a relational schema from the ER diagram using forward engineering algorithms,
                        implemented the schema in MySQL workbench, populated it with the given data.</li>
                    <li>Extracted information using SQL, with 100% accuracy.</li>
                    <li><b>Technologies used:</b> Dia, SQL, MySQL Workbench</li>
                </ul>

                </p>
                </div>
                <div class="col-sm-2">
                <img src="{% static 'home/images/sastra.jpg' %} " class="image img-responsive">
                </div>
                <div class="col-sm-10">
                <p style="text-align: justify;">
                <b style= " text-decoration: underline;">Role-Based Access Rights Model for Cloud System &nbsp;&nbsp;
                    (Dec 2013 – Apr 2014)</b> <br>
                 <ul style="text-align: justify;" >
                    <li>Role-based access rights provide a hierarchical model to read and write the data as per
                        authorization and requirement of the implementation logic. The generic models have security
                        drawbacks and are vulnerable to unethical exploits.</li>
                    <li>The proposed model uses broadcast encryption technique and decrypts using respective key.
                        This scheme guarantees, other users/roles are not affected when revoking a user, re-encryption
                        is not needed after user revocation.</li>
                    <li>Published paper in ARPN journals  on final project report, 2014.</li>
                </ul>

                </p>
                </div>
            </div>
        </div>


{% endblock %}