{% extends 'home/header.html' %}
{% block title %}About{% endblock %}
{% block about_active %}active{% endblock %}

{% block content %}

<div class = "main_content">
            <h3 style= "text-align: center; text-decoration: underline; padding-bottom: 20px;"> Professional Summary </h3>
            <ul style="font-size: 15px;">
                <li >Experienced Software Engineer with a demonstrated history of working in information technology
                    and services/financial industry.</li>
                <li >Developed Desktop/Web applications and involved in end to end life cycle of development.</li>
                <li >Proficient in developing applications using object oriented and functional paradigms,
                    relational databases, web services, with 3+ years’ experience in Python development.</li>
                <li>Excellent communication, analytical, and problem solving skills, passionate about
                technology and data-driven businesses. </li>
                <li>Acquainted with Agile Software Development Methodology.Good domain knowledge of Banking–Derivatives
                    and Collateral Management. Open to learn and use new tools, languages, and frameworks.</li>

            </ul>

        </div>

{% endblock %}