body {
    background-color: #f1f1f1;
    color: black;
}

/*
h3{

	color : white;
	text-align: center;
	margin: 0px;
	position: relative;
	font-family: verdana;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

*/

li{

    padding-left: 10px;
    padding-right: 10px;
}

h5{
    border-bottom: 1px solid black;

}

a:link{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}
/*
footer{
    background: #333;
    text-align: center;
    margin-top: 10px;
    height: 90px;
    color: #2b669a;
}
p{
    text-align: justify;
}
*/
.navbar{

    border-radius: 0px;
}
.main_content{

    /*text-align: center;*/
    background-color: white;
    height: 400px;
    margin: 15px 10px 10px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;

}

.image{
    float: left;
    height: 70px;
    padding: 10px;

}

.list-unstyled li {

    padding-top: 10px;
    display: inline-block;

}

#navbar_position{

}


#left_side_pic{

    min-height: 150px;
    margin: 15px 10px 0px 10px;
    background-image: url("images/uc.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#left_side_intro{

    background-color: white;
    border-top: ridge;
    border-top-color: darkgrey;
    border-width: 0.1px;
    height: 250px;
    margin: 0px 10px 10px 10px;
    color: black;
    text-align: center;
    padding: 5px;
}


#image_position{

    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(50%);
}



#footer_container{

    text-align: center;
    color: black;
}

#linkedin_image{
    height: 18px;
    float: right;
}

#hotmail_image{
    height: 18px;
    float: left;
    margin-right: 2px;

}

#github_image{

    height: 18px;
    float: left;
    margin-right: 2px;

}

#mobile_image{
    height: 18px;
    float: left;
    margin-right: 2px;
}

@media (max-width: 500px) {


}