{% extends 'home/header.html' %}
{% block title %}Skills{% endblock %}
{% block skills_active %}active{% endblock %}

{% block content %}

<div class = "main_content">
           <h3 style= "text-align: center; text-decoration: underline; padding-bottom: 10px;"> Technical Skills </h3>

            <table class="table table-striped" >
    <tbody>
      <tr>
        <td style="text-align: right;">Languages:</td>
        <td>JAVA, Python, JavaScript, PHP, C, C++, HTML, SQL, R.</td>
      </tr>
      <tr>
        <td style="text-align: right;">Tools:</td>
        <td>HP Quality Center, JIRA. GitHub, Maven.</td>
      </tr>
      <tr>
        <td style="text-align: right;">Frameworks:</td>
        <td>Django, BootStrap, Quartz, Spring Core framework, JUnit testing, Qt, AngularJs.</td>
      </tr>
    <tr>
        <td style="text-align: right;">IDE:</td>
        <td>PyCharm, Visual Studio, AptanaStudio, Eclipse, QzDesktop</td>
      </tr>
	<tr>
	<td style="text-align: right;">Data Mining:</td>
        <td>Classification, Clustering, Regression, Perceptron, and Association rules</td>
	</tr>
	<tr>
	<td style="text-align: right;">Other:</td>
        <td>RESTful, MATLAB, MySQL workbench, MS SQL Server, Linux, CSS, Día, MS Office,PowerShell, fril.</td>
	</tr>
    </tbody>
  </table>

        </div>



{% endblock %}